lung/dataset/*

lung/fcn/*/*
!lung/fcn/test_result/*

lung/edge_detection/*/*/*
lung/edge_detection/*/*

lung/kmeans/*/*

lung/windowing/*/*
!lung/windowing/test_result/*

demo_codes/*/*

*.ipynb
!lung/xnet/*.ipynb

__pycache__

*.spec
